html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import 'primeng/resources/primeng.min.css';
@import "primeicons/primeicons.css";
@import 'primeng/resources/themes/bootstrap4-light-blue/theme.css';